<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<!-- define attribute -->
	<property name="logname" value="gateway-service" />
	<property name="logdir" value="/Users/fivebit/tmp" />
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

  	<appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logdir}/logs/${logname}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily rollover -->
			<FileNamePattern>${logdir}/logs/${logname}/${logname}.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
		</filter>
  	</appender>
	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logdir}/logs/${logname}_error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${logdir}/logs/${logname}/${logname}_error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
  	<appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logdir}/logs/${logname}_debug.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logdir}/logs/${logname}/${logname}_debug.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>  	
  		
	<logger name="com.fivebit" additivity="false">
	    <level value="${log.level}" />
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
		<appender-ref ref="debugAppender"/>
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration> 
